.content {
	max-width: 50rem;
}

.flex {
	justify-content: space-between;
}

.flex > span {
	width: 5%;
	min-width: 8rem;
}

.flex > a {
	width: 85%
}

.flex > time {
	width: 10%;
}

.post > div > p, .posts p {
	font-size: 0.8rem;
	color: #606060;
	line-height: 1.4rem;
}

.post a {
	color: #0090bb;
	text-decoration: underline;
}

.post a:hover {
	color: #306090;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}

figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
	margin: 0.3rem;
}

figure.shot-4-3 img {
	width: 100%;
	aspect-ratio: 4/3;
}

figure img {
	margin-bottom: -5px;
}

figure figcaption p {
	background-color: #dddddd;
	color: #303030;
	font-size: 0.65rem;
	text-align: left;
	padding: 8px 10px 5px 10px;
}

.sidebar-about h1 {
	font-size: 1.75rem;
	font-family: monospace;
}

.sidebar-about, .lead {
	font-size: 0.75rem;
	color: #aaaaaa;
}

.sidebar-nav {
	margin: 30px 0;
	font-size: 1.25rem;
	font-family: monospace;
}

.sidebar-nav a {
	color: #bbbbbb;
}

.sidebar-nav a:hover {
	color: #ffffff;
}

.language-switch {
	border: 2px solid #333333;
	border-radius: 5px;
	padding: 2px 4px;
	font-size: 0.75rem;
}

.language-switch:hover {
	text-decoration: none;
	background: #333333;
}

.language-active {
	color: #ffffff;
	background: #666666;
	font-weight: bold;
}

.language-inactive {
	color: #cccccc;
}